doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title LifeGamer-Diep
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.0.3/pixi.min.js")
  body
    div(id="app")
